# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/*
# But don't ignore inside docs/
!docs/theme/
!docs/theme/favicon.svg
!docs/additional.toml
!docs/vercel.js

# Dotenv file
.env
.aider*
